<h1>Password Generator</h1>
<div>
  <label>Enter Length</label>
  <input (input)="onChangeLength($event.target.value)" />
</div>

<div>
  <label> Use Letters</label>
  <input (change)="onChangeUseLetters()" type="checkbox" />
</div>

<div>
  <label> Use Numbers</label>
  <input (change)="onChangeNumbers()" type="checkbox" />
</div>

<div>
  <label> Use Sysmbols</label>
  <input (change)="onChangeSymbols()" type="checkbox" />
</div>
<div>
  <button
    [disabled]="
      !(length && (includeLetters || includeSymbols || includeNumbers))
    "
    (click)="onButtonClick()"
  >
    Generate
  </button>
</div>
<div>
  <label>your password:</label>
  <input [value]="password" />
</div>
